In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
# Read in csv and convert it to a dataframe
csv_file = "Resources/candy-data.csv"
candy_data_df = pd.read_csv(csv_file)
candy_data_df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

## Content
candy-data.csv includes attributes for each candy along with its ranking. For binary variables, 1 means yes, 0 means no. The data contains the following fields:
* chocolate: Does it contain chocolate?
* fruity: Is it fruit flavored?
* caramel: Is there caramel in the candy?
* peanutalmondy: Does it contain peanuts, peanut butter or almonds?
* nougat: Does it contain nougat?
* crispedricewafer: Does it contain crisped rice, wafers, or a cookie component?
* hard: Is it a hard candy?
* bar: Is it a candy bar?
* pluribus: Is it one of many candies in a bag or box?
* sugarpercent: The percentile of sugar it falls under within the data set.
* pricepercent: The unit price percentile compared to the rest of the set.
* winpercent: The overall win percentage according to 269,000 matchups.

In [6]:
# create new table that only displays binary results
binary_results = candy_data_df[['competitorname', 'chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus']].copy()
binary_results.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus
0,100 Grand,1,0,1,0,0,1,0,1,0
1,3 Musketeers,1,0,0,0,1,0,0,1,0
2,One dime,0,0,0,0,0,0,0,0,0
3,One quarter,0,0,0,0,0,0,0,0,0
4,Air Heads,0,1,0,0,0,0,0,0,0

In [21]:
# create new table for percentages
percentages = candy_data_df[['competitorname', 'winpercent', 'sugarpercent', 'pricepercent']].copy()
percentages = percentages.sort_values('winpercent', ascending=False)
percentages.head()

               competitorname  winpercent  sugarpercent  pricepercent
52  ReeseÕs Peanut Butter cup   84.180290         0.720         0.651
51         ReeseÕs Miniatures   81.866257         0.034         0.279
79                       Twix   81.642914         0.546         0.906
28                    Kit Kat   76.768600         0.313         0.511
64                   Snickers   76.673782         0.546         0.651

Need to figure out how to cleanup the names to just be the brand
> rename() function?
>