In [65]:
import pandas as pd
from sqlalchemy import create_engine

In [66]:
# Read in csv and convert it to a dataframe
csv_file = "Resources/candy-data.csv"
candy_data_df = pd.read_csv(csv_file)
candy_data_df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [67]:
# Remove special characters and replace with apostrophes
candy_data_df['competitorname'] = candy_data_df['competitorname'].replace(['HersheyÕs Kisses', 'HersheyÕs Krackel', 'HersheyÕs Milk Chocolate', 'HersheyÕs Special Dark', 'M&MÕs', 'ReeseÕs Miniatures', 'ReeseÕs Peanut Butter cup', 'ReeseÕs pieces', 'ReeseÕs stuffed with pieces', 'WelchÕs Fruit Snacks', 'WertherÕs Original Caramel'], ["Hershey's Kisses", "Hershey's Krackel", "Hershey's Milk Chocolate", "Hershey's Special Dark", "M&M's", "Reese's Miniatures", "Reese's Peanut Butter Cup", "Reese's Pieces", "Reese's stuffed with pieces", "Welch's Fruit Snacks", "Werther's Original Caramel"])

In [73]:
# Create dataframe for chocolate candies
chocolate = candy_data_df.loc[candy_data_df['chocolate'] == 1,:]
chocolate.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
5,Almond Joy,1,0,0,1,0,0,0,1,0,0.465,0.767,50.347546
6,Baby Ruth,1,0,1,1,1,0,0,1,0,0.604,0.767,56.914547
10,Charleston Chew,1,0,0,0,1,0,0,1,0,0.604,0.511,38.975037

In [74]:
# Create dataframe for fruity candies
fruity = candy_data_df.loc[candy_data_df['fruity'] == 1,:]
fruity.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
9,Caramel Apple Pops,0,1,1,0,0,0,0,0,0,0.604,0.325,34.517681
11,Chewey Lemonhead Fruit Mix,0,1,0,0,0,0,0,0,1,0.732,0.511,36.017628
12,Chiclets,0,1,0,0,0,0,0,0,1,0.046,0.325,24.524988
13,Dots,0,1,0,0,0,0,0,0,1,0.732,0.511,42.272076

In [75]:
other = candy_data_df.loc[(candy_data_df['fruity'] == 0) & (candy_data_df['chocolate'] == 0),:]
other

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
7,Boston Baked Beans,0,0,0,1,0,0,0,0,1,0.313,0.511,23.417824
8,Candy Corn,0,0,0,0,0,0,0,0,1,0.906,0.325,38.010963
19,Haribo Happy Cola,0,0,0,0,0,0,0,0,1,0.465,0.465,34.158958
46,Payday,0,0,0,1,1,0,0,1,0,0.465,0.767,46.296597
48,Pixie Sticks,0,0,0,0,0,0,0,0,1,0.093,0.023,37.722336
57,Root Beer Barrels,0,0,0,0,0,0,1,0,1,0.732,0.069,29.703691
70,Sugar Babies,0,0,1,0,0,0,0,0,1,0.965,0.767,33.437550
71,Sugar Daddy,0,0,1,0,0,0,0,0,0,0.418,0.325,32.230995
83,Werther's Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308

## Content
candy-data.csv includes attributes for each candy along with its ranking. For binary variables, 1 means yes, 0 means no. The data contains the following fields:
* chocolate: Does it contain chocolate?
* fruity: Is it fruit flavored?
* caramel: Is there caramel in the candy?
* peanutalmondy: Does it contain peanuts, peanut butter or almonds?
* nougat: Does it contain nougat?
* crispedricewafer: Does it contain crisped rice, wafers, or a cookie component?
* hard: Is it a hard candy?
* bar: Is it a candy bar?
* pluribus: Is it one of many candies in a bag or box?
* sugarpercent: The percentile of sugar it falls under within the data set.
* pricepercent: The unit price percentile compared to the rest of the set.
* winpercent: The overall win percentage according to 269,000 matchups.

In [76]:
# create new table that only displays binary results
binary_results = candy_data_df[['competitorname', 'chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus']].copy()
binary_results

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus
0,100 Grand,1,0,1,0,0,1,0,1,0
1,3 Musketeers,1,0,0,0,1,0,0,1,0
2,One dime,0,0,0,0,0,0,0,0,0
3,One quarter,0,0,0,0,0,0,0,0,0
4,Air Heads,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0
81,Warheads,0,1,0,0,0,0,1,0,0
82,Welch's Fruit Snacks,0,1,0,0,0,0,0,0,1
83,Werther's Original Caramel,0,0,1,0,0,0,1,0,0
84,Whoppers,1,0,0,0,0,1,0,0,1

In [77]:
# create new table for percentages
# winpercent: The overall win percentage according to 269,000 matchups.
percentages = candy_data_df[['competitorname', 'winpercent', 'sugarpercent', 'pricepercent']].copy()
percentages = percentages.sort_values('winpercent', ascending=False)
percentages.head()

               competitorname  winpercent  sugarpercent  pricepercent
52  Reese's Peanut Butter Cup   84.180290         0.720         0.651
51         Reese's Miniatures   81.866257         0.034         0.279
79                       Twix   81.642914         0.546         0.906
28                    Kit Kat   76.768600         0.313         0.511
64                   Snickers   76.673782         0.546         0.651

Need to figure out how to cleanup the names to just be the brand