In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read in csv and convert it to a dataframe
csv_file = "../Resources/candy-data.csv"
candy_data_df = pd.read_csv(csv_file)
candy_data_df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [10]:
# Remove special characters and replace with apostrophes
candy_data_df['competitorname'] = candy_data_df['competitorname'].replace(['HersheyÕs Kisses', 'HersheyÕs Krackel', 'HersheyÕs Milk Chocolate', 'HersheyÕs Special Dark', 'M&MÕs', 'ReeseÕs Miniatures', 'ReeseÕs Peanut Butter cup', 'ReeseÕs pieces', 'ReeseÕs stuffed with pieces', 'WelchÕs Fruit Snacks', 'WertherÕs Original Caramel'], ["Hershey's Kisses", "Hershey's Krackel", "Hershey's Milk Chocolate", "Hershey's Special Dark", "M&M's", "Reese's Miniatures", "Reese's Peanut Butter Cup", "Reese's Pieces", "Reese's stuffed with pieces", "Welch's Fruit Snacks", "Werther's Original Caramel"])

In [11]:
brands_list = ["100 Grand",
"3 Musketeers",
"One dime",
"One quarter",
"Airheads",
"Almond Joy",
"Baby Ruth",
"Boston Baked Beans",
"Brach's",
"Tootsie Roll",
"Charleston Chew",
"Chewy",
"Chiclets",
"Dots",
"Dum Dums",
"Fruit Chews",
"Nestle",
"Wonka",
"Haribo",
"Haribo",
"Haribo",
"Haribo",
"Hershey's",
"Hershey's",
"Hershey's",
"Hershey's",
"Jawbusters",
"Junior Mints",
"Kit Kat",
"Nestle",
"Lemonhead",
"Lifesavers",
"M&M's",
"M&M's",
"Mike & Ike",
"Hershey",
"Milky Way",
"Milky Way",
"Milky Way",
"Mounds",
"Mr Good Bar",
"Wonka",
"Nestle",
"Nestle",
"Tootsie Roll",
"Now & Later",
"Payday",
"M&M's",
"Wonka",
"Pop Rocks",
"Red vines",
"Reese's",
"Reese's",
"Reese's",
"Reese's",
"Topps",
"Nestle",
"Dad's",
"Wonka",
"Sixlets",
"Skittles",
"Skittles",
"Nestle",
"Smarties",
"Snickers",
"Snickers",
"Sour Patch Kids",
"Sour Patch Kids",
"Starburst",
"Russell Stover",
"Tootsie Roll",
"Tootsie Roll",
"Super Bubble",
"Swedish Fish",
"Tootsie Pop",
"Tootsie Roll",
"Tootsie Roll",
"Tootsie Roll",
"Trolli",
"Twix",
"Twizzlers",
"Warheads",
"Welch's",
"Werther's Original",
"Hershey's"]
candy_data_df['brand'] = brands_list
candy_data_df = candy_data_df[['competitorname', 'brand', 'chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus', 'sugarpercent', 'pricepercent', 'winpercent']]
candy_data_df.head()

,competitorname,brand,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,Airheads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [12]:
# Create dataframe for chocolate candies
chocolate = candy_data_df.loc[candy_data_df['chocolate'] == 1,:]
chocolate.head()

,competitorname,brand,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
5,Almond Joy,Almond Joy,1,0,0,1,0,0,0,1,0,0.465,0.767,50.347546
6,Baby Ruth,Baby Ruth,1,0,1,1,1,0,0,1,0,0.604,0.767,56.914547
10,Charleston Chew,Charleston Chew,1,0,0,0,1,0,0,1,0,0.604,0.511,38.975037

In [13]:
# Create dataframe for fruity candies
fruity = candy_data_df.loc[candy_data_df['fruity'] == 1,:]
fruity.head()

,competitorname,brand,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
4,Air Heads,Airheads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
9,Caramel Apple Pops,Tootsie Roll,0,1,1,0,0,0,0,0,0,0.604,0.325,34.517681
11,Chewey Lemonhead Fruit Mix,Chewy,0,1,0,0,0,0,0,0,1,0.732,0.511,36.017628
12,Chiclets,Chiclets,0,1,0,0,0,0,0,0,1,0.046,0.325,24.524988
13,Dots,Dots,0,1,0,0,0,0,0,0,1,0.732,0.511,42.272076

In [14]:
other = candy_data_df.loc[(candy_data_df['fruity'] == 0) & (candy_data_df['chocolate'] == 0),:]
other

,competitorname,brand,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
2,One dime,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
7,Boston Baked Beans,Boston Baked Beans,0,0,0,1,0,0,0,0,1,0.313,0.511,23.417824
8,Candy Corn,Brach's,0,0,0,0,0,0,0,0,1,0.906,0.325,38.010963
19,Haribo Happy Cola,Haribo,0,0,0,0,0,0,0,0,1,0.465,0.465,34.158958
46,Payday,Payday,0,0,0,1,1,0,0,1,0,0.465,0.767,46.296597
48,Pixie Sticks,Wonka,0,0,0,0,0,0,0,0,1,0.093,0.023,37.722336
57,Root Beer Barrels,Dad's,0,0,0,0,0,0,1,0,1,0.732,0.069,29.703691
70,Sugar Babies,Tootsie Roll,0,0,1,0,0,0,0,0,1,0.965,0.767,33.437550
71,Sugar Daddy,Tootsie Roll,0,0,1,0,0,0,0,0,0,0.418,0.325,32.230995
83,Werther's Original Caramel,Werther's Original,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308

## Content
candy-data.csv includes attributes for each candy along with its ranking. For binary variables, 1 means yes, 0 means no. The data contains the following fields:
* chocolate: Does it contain chocolate?
* fruity: Is it fruit flavored?
* caramel: Is there caramel in the candy?
* peanutalmondy: Does it contain peanuts, peanut butter or almonds?
* nougat: Does it contain nougat?
* crispedricewafer: Does it contain crisped rice, wafers, or a cookie component?
* hard: Is it a hard candy?
* bar: Is it a candy bar?
* pluribus: Is it one of many candies in a bag or box?
* sugarpercent: The percentile of sugar it falls under within the data set.
* pricepercent: The unit price percentile compared to the rest of the set.
* winpercent: The overall win percentage according to 269,000 matchups.

In [18]:
# create new table that only displays binary results
binary_results = candy_data_df[['competitorname', 'brand', 'chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus']].copy()
binary_results

,competitorname,brand,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus
0,100 Grand,100 Grand,1,0,1,0,0,1,0,1,0
1,3 Musketeers,3 Musketeers,1,0,0,0,1,0,0,1,0
2,One dime,One dime,0,0,0,0,0,0,0,0,0
3,One quarter,One quarter,0,0,0,0,0,0,0,0,0
4,Air Heads,Airheads,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,Twizzlers,0,1,0,0,0,0,0,0,0
81,Warheads,Warheads,0,1,0,0,0,0,1,0,0
82,Welch's Fruit Snacks,Welch's,0,1,0,0,0,0,0,0,1
83,Werther's Original Caramel,Werther's Original,0,0,1,0,0,0,1,0,0
84,Whoppers,Hershey's,1,0,0,0,0,1,0,0,1

In [19]:
# create new table for percentages
# winpercent: The overall win percentage according to 269,000 matchups.
percentages = candy_data_df[['competitorname', 'brand', 'winpercent', 'sugarpercent', 'pricepercent']].copy()
percentages = percentages.sort_values('winpercent', ascending=False)
percentages.head()

,competitorname,brand,winpercent,sugarpercent,pricepercent
52,Reese's Peanut Butter Cup,Reese's,84.180290,0.720,0.651
51,Reese's Miniatures,Reese's,81.866257,0.034,0.279
79,Twix,Twix,81.642914,0.546,0.906
28,Kit Kat,Kit Kat,76.768600,0.313,0.511
64,Snickers,Snickers,76.673782,0.546,0.651

Need to create walgreens dataframe with values that match the brand_list
Need to figure out how to cleanup the names to just be the brand